.eventByIdContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 150px;
    z-index: 1;
}

.eventsInformation {
    position: relative;
    top: 67px;
    left: 152px;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 85%;
    height: auto;
}

.eventsInformation2 {
    position: relative;
    top: 67px;
    left: 50px;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 85%;
    height: auto;
}

.headerPage {
    font-family: Raleway;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: #3A3A3A;
    position: relative;
    top: 43px;
    left: 152px;
    width: 70%;
}

.headerPage2 {
    font-family: Raleway;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: #3A3A3A;
    position: relative;
    top: 43px;
    left: 50px;
    width: 70%;
}

.links {
    position: relative;
    top: 55px;
    left: 153px;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    z-index: 1;
}

.links2 {
    position: relative;
    top: 55px;
    left: 50px;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    z-index: 1;
}

.linkPage {
    font-family: Roboto;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 120%;
    letter-spacing: 0%;
    color: #3A3A3A;
    cursor: pointer;
}

.linkPage2 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 120%;
    letter-spacing: 0%;
    color: #375FFF;
    cursor: pointer;
    padding-left: 2px;
}

.header {
    width: 76%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title {
    width: 100%;
    font-family: Raleway;
    font-weight: 500;
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: 0%;
    color: #3A3A3A;
}

.participateButton {
    width: 24%;
    height: 3rem;
    border-radius: 8px;
    padding: 1rem 2.5rem;
    display: flex;
    gap: 0.6rem;
    background-color: #375FFF;
    font-family: Roboto;
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 3%;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}

.participatingButton {
    width: 24%;
    height: 3rem;
    border-radius: 8px;
    padding: 1rem 2.5rem;
    display: flex;
    gap: 0.6rem;
    border: 2px solid #204CFF;
    background-color: #EFEFEF;
    font-family: Roboto;
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 3%;
    color: #204CFF;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.content {
    width: 72%;
    border-radius: 8px;
    padding: 1.75rem 2rem;
    display: flex;
    gap: 0.75rem;
    background-color: #F9F9F9;
    flex-direction: column;
    height: auto;
}

.row1 {
    width: 100%;
    max-width: 1168px;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    height: auto;
}

.row3 {
    width: 100%;
    max-width: 1168px;
    height: auto;
    display: flex;
    gap: 0.75rem;
    flex-direction: row;
}

.row4 {
    width: 100%;
    max-width: 1168px;
    height: auto;
    display: flex;
    gap: 0.75rem;
    flex-direction: row;
}

.description {
    width: 100%;
    max-width: 1168px;
    display: flex;
    justify-content: space-between;
    height: auto;
}

.descriptionHeader {
    font-family: Raleway;
    font-weight: 600;
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: 0%;
    color: #3A3A3A;
}

.descriptionText {
    font-family: Raleway;
    font-weight: 500;
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: 0%;
    color: #3A3A3A;
    display: flex;
    width: 100%;
    height: auto;
    word-break: break-all;
    flex-direction: column;
}

.openIcon {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.picture {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #DFDFDF;
}

.text {
    font-family: Raleway;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 120%;
    letter-spacing: 0%;
    color: #666666;
}

.answer {
    font-family: Raleway;
    font-weight: 500;
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: 0%;
    color: #3A3A3A;
}

.registrationEndDateForm {
    width: 100%;
    height: 2.75rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    padding-top: 0.6rem;
}

.dateOfEventForm,
.formatOfTheEventsForm,
.addressForm,
.linkForm {
    width: 50%;
    height: auto;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.registrationModal {
    width: 25%;
    height: auto;
    max-height: 60vh;
    top: 20%;
    left: 30%;
    border-radius: 8px;
    padding-top: 4rem;
    padding-left: 2.5rem;
    padding-bottom: 2.5rem;
    padding-right: 2.5rem;
    background-color: #F9F9F9;
    position: fixed;
    z-index: 1000;
    overflow-y: auto;
}

.contentModal {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    width: 100%;
}

.closeModalButton {
    position: absolute;
    top: 0.6rem;
    right: 1rem;
    background-color: none;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.registrationTitle {
    font-family: Raleway;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 120%;
    letter-spacing: 0%;
    color: #3A3A3A;
    display: flex;
    justify-content: center;
}

.formsModal {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.fullNameForm,
.phoneForm,
.emailForm,
.additionalInformationForm {
    position: relative;
}

.fullNameForm label,
.phoneForm label,
.emailForm label,
.additionalInformationForm label {
    position: absolute;
    font-family: Raleway;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 120%;
    letter-spacing: 0%;
    top: -7px;
    left: 1.25rem;
    background-color: #F9F9F9;
    padding: 0 0.25rem;
    color: #9D9D9D;
}

.fullNameInput,
.phoneInput,
.emailInput {
    width: 92%;
    height: 2.5rem;
    border-radius: 8px;
    border: 1px solid #3A3A3A80;
    padding: 0.5rem 1rem;
    display: flex;
    gap: 0.6rem;
    background-color: #F9F9F9;
}

.additionalInformationInput {
    width: 92%;
    height: 66px;
    border-radius: 8px;
    border: 1px solid #3A3A3A80;
    padding: 0.5rem 1rem;
    display: flex;
    gap: 0.6rem;
    background-color: #F9F9F9;
}

.registrationButtons {
    width: 99%;
    height: auto;
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

.saveButton {
    width: 50%;
    height: 3.06rem;
    border-radius: 8px;
    padding: 1rem 2.5rem;
    display: flex;
    gap: 0.6rem;
    background-color: #375FFF;
    font-family: Roboto;
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 3%;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}

.cancelButton {
    width: 50%;
    height: 3.06rem;
    border-radius: 8px;
    padding: 1rem 2.5rem;
    display: flex;
    gap: 0.6rem;
    border: 1px solid #3A3A3A;
    background-color: #F9F9F9;
    font-family: Roboto;
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 3%;
    color: #3A3A3A;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .eventsInformation {
        left: 70px;
        top: 114px;
    }

    .headerPage {
        top: 80px;
        left: 70px;
    }

    .links {
        top: 107px;
        left: 70px;
    }

    .registrationModal {
        width: 40%;
    }

    .participateButton,
    .participatingButton {
        width: 50%;
    }
}

@media (max-width: 900px) {
    .eventByIdContainer {
        padding-right: 2rem;
    }

    .header {
        flex-direction: column;
        align-items: normal;
    }

    .saveButton,
    .cancelButton {
        font-size: 0.8rem;
    }
}

@media (max-width: 600px) {
    .eventByIdContainer {
        padding-right: 4rem;
    }

    .row4 {
        flex-direction: column;
    }

    .addressForm {
        width: 100%;
    }

    .content {
        width: 83%;
    }
}

@media (max-width: 550px) {

    .registrationButtons {
        flex-direction: column;
    }

    .saveButton,
    .cancelButton {
        width: 100%;
    }

    .participateButton,
    .participatingButton,
    .header {
        width: 100%;
    }
}