.notFoundContainer {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.errorLine1 {
    width: auto;
    height: 10%;
    position: absolute;
    top: 50%;
    left: 30%;
    border: 2px solid #FFFFFF;
    background-color: #375FFF;
    transform: rotate(36.9deg);
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.errorLine2 {
    width: auto;
    height: 10%;
    position: absolute;
    top: 60%;
    left: 30%;
    border: 2px solid #FFFFFF;
    background-color: #375FFF;
    transform: rotate(-34.18deg);
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.errorText {
    font-family: Raleway;
    font-weight: 700;
    font-size: 3rem;
    line-height: 120%;
    letter-spacing: 1%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.statusError {
    font-family: Roboto;
    font-weight: 400;
    font-size: 23.75rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: #375FFF;
    position: absolute;
    top: 15vh;
    left: 10vw;
}

.errorBlock {
    position: absolute;
    top: 55vh;
    left: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: auto;
}

.errorName {
    width: 22vw;
    height: auto;
    display: flex;
    gap: 0.9rem;
    flex-direction: column;
    text-align: left;
    font-family: Raleway;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: #3A3A3A;
}

.buttonMain {
    width: 15.5vw;
    height: 6vh;
    border-radius: 8px;
    padding: 1rem 2.5rem;
    display: flex;
    gap: 0.6rem;
    background-color: #375FFF;
    font-family: Raleway;
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 3%;
    color: #FFFFFF;
    border: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.errorDescription {
    width: 23vw;
    height: 10vh;
    position: absolute;
    top: 80vh;
    left: 10vw;
    display: flex;
    gap: 2vw;
    flex-direction: column;
    text-align: left;
}

.errorQuestion {
    font-family: Raleway;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 120%;
    letter-spacing: 0%;
    color: #3A3A3A;
}

.errorAnswwer {
    font-family: Raleway;
    font-weight: 500;
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: 0%;
    color: #3A3A3A;
}

@media (max-width: 1600px) {
    .errorLine1 {
        height: 8%;
        top: 35%;
        left: 30%;
    }

    .errorLine2 {
        height: 8%;
        top: 65%;
        left: 30%;
    }

    .errorText {
        font-size: 2rem;
    }
}

@media (max-width: 1400px) {
    .errorLine1 {
        top: 40%;
    }

    .errorLine2 {
        top: 60%;
        left: 30%;
    }
}

@media (max-width: 1300px) {
    .errorLine1 {
        top: 40%;
        left: 25%;
        transform: rotate(39deg);
    }

    .errorLine2 {
        top: 65%;
        left: 20%;
        transform: rotate(-37.18deg);
    }
}

@media (max-width: 1200px) {
    .statusError {
        font-size: 20rem;
        top: 20vh;
        left: 5vw;
    }

    .errorName {
        font-size: 2rem;
    }

    .errorLine1 {
        top: 40%;
        left: 20%;
    }

    .errorLine2 {
        top: 60%;
        left: 20%;
    }
}

@media (max-width: 1000px) {
    .errorText {
        font-size: 1.5rem;
    }

    .errorLine1 {
        top: 25%;
        left: 12%;
        height: 7%;
        transform: rotate(44deg);
    }

    .errorLine2 {
        top: 70%;
        left: 16%;
        height: 7%;
        transform: rotate(-45.18deg);
    }
}

@media (max-width: 768px) {
    .statusError {
        font-size: 15rem;
        top: 30vh;
        left: 5vw;
    }

    .buttonMain {
        font-size: 0.7rem;
    }

    .errorName {
        font-size: 1.5rem;
    }

    .errorText {
        font-size: 1rem;
    }

    .errorLine1 {
        top: 28%;
        left: 20%;
        height: 5%;
        transform: rotate(54deg);
    }

    .errorLine2 {
        top: 70%;
        left: 25%;
        height: 5%;
        transform: rotate(-55.18deg);
    }

    .errorDescription {
        top: 70vh;
    }
}

@media (max-width: 600px) {
    .errorBlock {
        top: 60vh;
        flex-direction: column;
    }

    .errorName {
        font-size: 1rem;
    }

    .buttonMain {
        width: 23vw;
    }

    .errorDescription {
        top: 80vh;
    }

    .errorQuestion {
        font-size: 1rem;
    }

    .errorAnswwer {
        font-size: 0.8rem;
    }

    .errorLine1 {
        top: 28%;
        left: 8%;
        height: 5%;
        transform: rotate(60deg);
    }

    .errorLine2 {
        top: 70%;
        left: 15%;
        height: 5%;
        transform: rotate(-60.18deg);
    }
}