.eventsAdminContainer {
    display: flex;
    height: 100vh;
    background-color: #EFEFEF;
    flex-direction: column;
    text-align: left;
}

.informationEvents {
    position: relative;
    top: 95px;
    left: 152px;
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
    width: 90%;
}

.headerPage {
    font-family: Raleway;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: #3A3A3A;
    position: relative;
    top: 43px;
    left: 152px;
    width: 70%;
    word-break: break-all;
}

.links {
    position: relative;
    top: 80px;
    left: 152px;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}

.linkPage {
    font-family: Roboto;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 120%;
    letter-spacing: 0%;
    color: #3A3A3A;
    cursor: pointer;
}

.linkPage2 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 120%;
    letter-spacing: 0%;
    color: #375FFF;
    cursor: pointer;
    margin-left: 2px;
}

.headerForm {
    width: 100%;
    height: 252px;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    text-align: left;
}

.header {
    font-family: Raleway;
    font-weight: 500;
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: 0%;
    color: #3A3A3A;
    display: flex;
    gap: 2rem;
    width: 100%;
    word-break: break-all;
}

.addEventButton {
    width: 70.7%;
    height: 16px;
    border-radius: 8px;
    display: flex;
    gap: 0.6rem;
    border: 1px solid #375FFF;
    cursor: pointer;
    padding: 0.375rem 0.5rem;
    justify-content: center;
}

.addEventButtonText {
    font-family: Roboto;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #375FFF;
}

.plus {
    font-size: 1.5rem;
    color: #375FFF;
    position: relative;
    top: -9px;
}

.searchForm1 {
    width: 68%;
    height: auto;
    border-radius: 8px;
    padding: 1.75rem 2rem;
    display: flex;
    gap: 0.75rem;
    background-color: #F9F9F9;
    flex-direction: column;
}

.searchForm2 {
    width: 68%;
    height: auto;
    border-radius: 8px;
    padding: 1.75rem 2rem;
    display: flex;
    gap: 0.75rem;
    background-color: #F9F9F9;
    flex-direction: column;
}

.searchHeader {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.searchBar {
    font-family: Raleway;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #3A3A3A;
}

.filtersButton1 {
    width: 108px;
    height: 32px;
    border-radius: 8px;
    background-color: #375FFF;
    padding: 0.375rem 0.5rem;
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
    border: none;
}

.filtersButton2 {
    width: 108px;
    height: 32px;
    border-radius: 8px;
    background-color: #F9F9F9;
    padding: 0.375rem 0.5rem;
    display: flex;
    gap: 0.5rem;
    border: 1px solid #375FFF;
    cursor: pointer;
}

.filtersText1 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #F9F9F9;
}

.filtersText2 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #375FFF;
}

.filtersIcon {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    top: -1px;
}

.searchInput,
.searchInput2 {
    width: 100%;
    height: auto;
    display: flex;
    gap: 0.75rem;
}

.searchInputForm {
    position: relative;
    width: 80%;
}

.searchInputForm label {
    position: absolute;
    top: -7px;
    left: 14px;
    padding: 0px 0.25rem;
    background-color: #F9F9F9;
    font-family: Raleway;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 120%;
    letter-spacing: 0%;
    color: #9D9D9D;
}

.inputForm,
.inputForm2 {
    width: 96%;
    height: 27px;
    border-radius: 8px;
    border: 1px solid #3A3A3A80;
    padding: 0.5rem 1rem;
    display: flex;
    gap: 0.6rem;
    background-color: #F9F9F9;
}

.searchButton,
.searchButton2 {
    width: 20%;
    height: 49px;
    border-radius: 8px;
    padding: 1rem 2.5rem;
    display: flex;
    gap: 0.6rem;
    background-color: #375FFF;
    font-family: Roboto;
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 3%;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}

.filters {
    width: 100%;
    height: auto;
    display: flex;
    gap: 0.75rem;
}

.statusInput,
.typeOfEventInput,
.formatOfTheEventsInput {
    width: 100%;
    height: 3rem;
    border-radius: 8px;
    border: 1px solid #3A3A3A80;
    padding: 0.5rem 1rem;
    display: flex;
    gap: 0.6rem;
    background-color: #F9F9F9;
}

.dateOfTheEventInput {
    width: 94%;
    height: 2rem;
    border-radius: 8px;
    border: 1px solid #3A3A3A80;
    padding: 0.5rem 1rem;
    display: flex;
    gap: 0.6rem;
    background-color: #F9F9F9;
}

.eventItemAdmin1,
.eventItemAdmin2 {
    width: 68%;
    border-radius: 8px;
    padding: 0.75rem 2rem;
    background-color: #F9F9F9;
    display: flex;
    gap: 0.75rem;
    margin-top: 20px;
    cursor: pointer;
}

.eventItemAdmin2 {
    position: relative;
    top: 120px;
}

.pictureForm {
    width: 30%;
    min-width: 200px;
    display: flex;
    justify-content: center;
}

.picture {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.content {
    width: 100%;
    display: flex;
    gap: 0.75rem;
    flex-direction: column;
}

.headerEvent {
    width: 100%;
    height: auto;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.titleForm {
    width: 99.5%;
    height: auto;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}

.title {
    font-family: Raleway;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #3A3A3A;
}

.icons {
    display: flex;
    gap: 0.5rem;
}

.editIcon,
.deleteIcon {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.draft,
.actual,
.archive,
.finished {
    justify-content: center;
    width: 75px;
    height: auto;
    border-radius: 8px;
    padding: 0.3rem 0.75rem;
    display: flex;
    gap: 0.6rem;
    font-family: Raleway;
    font-weight: 600;
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #F9F9F9;
}

.draft {
    background-color: #9C9C9C;
}

.actual {
    background-color: #A0D000;
}

.archive {
    background-color: #3A3A3A;
}

.finished {
    background-color: #46B34A;
}

.row,
.row1 {
    width: 100%;
    height: auto;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}

.row1 {
    margin-top: 10px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
}

.typeOfEventForm,
.auditoryForm,
.dateOfTheEventForm,
.formatOfTheEventsForm {
    width: 50%;
    height: auto;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.text {
    font-family: Raleway;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 120%;
    letter-spacing: 0%;
    color: #666666;
    word-break: break-all;
}

.answer {
    font-family: Raleway;
    font-weight: 500;
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: 0%;
    color: #3A3A3A;
    word-break: break-all;
}

.pagination1,
.pagination2 {
    width: 40%;
    height: 2rem;
    position: relative;
    left: 33%;
    gap: 1.5rem;
    display: flex;
    cursor: pointer;
}

.pagination2 {
    top: 120px;
}

@media (max-width: 1500px) {
    .addEventButton {
        width: 72%;
    }

    .dateOfTheEventInput {
        width: 92%;
    }
}

@media (max-width: 1200px) {
    .headerPage {
        top: 108px;
        left: 70px;
    }

    .links {
        top: 170px;
        left: 70px;
    }

    .informationEvents {
        top: 200px;
        left: 70px;
    }

    .inputForm,
    .inputForm2 {
        width: 94%;
    }

    .dateOfTheEventInput {
        width: 89%;
    }
}

@media (max-width: 900px) {
    .addEventButton {
        width: 75%;
    }

    .inputForm,
    .inputForm2 {
        width: 91%;
    }

    .dateOfTheEventInput {
        width: 85%;
    }

    .searchInputForm label {
        font-size: 0.75rem;
    }
}

@media (max-width: 600px) {
    .headerPage {
        font-size: 2rem;
    }

    .addEventButton {
        width: 77%;
    }

    .searchInput2 {
        flex-direction: column;
        align-items: flex-end;
    }

    .searchInputForm {
        width: 100%;
    }

    .inputForm {
        width: 79.5%;
    }

    .searchButton {
        width: 75%;
    }

    .inputForm2 {
        width: 90%;
    }

    .searchButton2 {
        width: 50%;
    }

    .dateOfTheEventInput {
        width: 80%;
    }

    .eventItemAdmin1,
    .pagination1 {
        position: relative;
        top: 50px;
    }

    .eventItemAdmin1,
    .eventItemAdmin2 {
        flex-direction: column;
    }

    .pictureForm {
        width: 100%;
    }

    .picture {
        width: 100%;
    }

    .searchInputForm label {
        font-size: 0.7rem;
    }

    .pagination1,
    .pagination2 {
        left: 20%;
    }
}

@media (max-width: 500px) {
    .headerPage {
        font-size: 1.7rem;
    }

    .searchButton {
        width: 40%;
    }
}

@media (max-width: 375px) {

    .addEventButton {
        width: 83%;
    }

    .searchInput {
        display: flex;
        flex-direction: column;
    }

    .inputForm,
    .inputForm2 {
        width: 85%;
    }

    .searchButton,
    .searchButton2 {
        width: 100%;
    }

    .dateOfTheEventInput {
        width: 77%;
    }

    .eventItemAdmin1,
    .pagination1 {
        top: 70px;
    }

    .eventItemAdmin2,
    .pagination2 {
        top: 190px;
    }
}